h2,
label {
    margin-bottom: .5rem
}

button,
hr,
input {
    overflow: visible
}

.fc,
body {
    background-color: #fff
}

.al,
.cs3,
.cs9 {
    position: relative
}

*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left
}

button,
h2,
input {
    font-family: inherit
}

label {
    display: inline-block
}

button {
    border-radius: 0;
    text-transform: none
}

button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
}

.btn:focus,
.fc:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

button,
input {
    margin: 0;
    font-size: inherit;
    line-height: inherit
}

[type=submit],
button {
    -webkit-appearance: button
}

[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

.c,
.cs3,
.cs9 {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

h2 {
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 2rem
}

.btn,
.btn-sm,
.cfl,
.fc {
    line-height: 1.5
}

.fc,
.fc:focus {
    color: #495057
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0
}

.c {
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .c {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .c {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .c {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .c {
        max-width: 1140px
    }
}

.cs3,
.cs9 {
    min-height: 1px
}

@media (min-width:576px) {
    .cs3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .cs9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
}

.fc {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.fc::-ms-expand {
    background-color: transparent;
    border: 0
}

.fc:focus {
    background-color: #fff;
    border-color: #80bdff
}

.fc::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.fc::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.fc:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.fc::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.fc::placeholder {
    color: #6c757d;
    opacity: 1
}

.cfl {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit
}

.al,
.fg {
    margin-bottom: 1rem
}

.fg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn-pr {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-pr:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-pr:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-d {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-d:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

.btn-d:focus,
.btn-danger.focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.al {
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.ai {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.ad {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

code {
  color: #e83e8c;
  word-break: break-word;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
